# site envs
NEXT_PUBLIC_COLLECTION_TOKEN= #0xe95f51d73c334adab8ef74277f8c3528bfe5a548
NEXT_PUBLIC_COLLECTION_LOGO=
NEXT_PUBLIC_SITENAME=https://www.diamondnfts.co/
NEXT_PUBLIC_OPENSEA=https://opensea.io/collection/diamond-nfts-v2
NEXT_PUBLIC_WEBSITE_URL=https://www.diamondnfts.co/
NEXT_PUBLIC_DISCORD=https://discord.gg/GNGcFgPg3y
NEXT_PUBLIC_TWITTER=https://twitter.com/myDiamondNFTs
NEXT_PUBLIC_INSTAGRAM=https://www.instagram.com/diamond_nfts/
NEXT_PUBLIC_DESCRIPTION=
NEXT_PUBLIC_BANNER=
NEXT_PUBLIC_GA_SITE_ID=
NEXT_PUBLIC_SHOW_BANNER=false
NEXT_PUBLIC_FULLWIDTH_BANNER= 


# bot envs (SECRETS)
# DO NOT PUSH THESE IF THE REPO IS PUBLIC 
APPLICATION_ID=
GUILD_ID=
PUBLIC_KEY=
TOKEN=
